@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
}

:root {
  --background-black: #0f1210;
  --background-black-light: #161a17;
  --background-gray: #181c1a;
  --gray-green: #1f2623;
  --text-black: #021909;
  --button-black: #0e110f;
  --text-dark-green: #707e77;
  --spectra-green-light: #26ca57;
  --spectra-green-extra-light: #31d223;
  --spectra-green-light-opacity: #192b1d;
}

body {
  background: var(--background-black);
  color: white;
}

header {
  font-family: "Helvetica Now Text";
}


button {
  font-family: "Helvetica Now Display";
  font-weight: 500;
}

h1 {
  font-family: "Helvetica Now Display";
  font-weight: bold;
}

h5 {
  font-family: "Helvetica Now Text";
  font-weight: 400;
}

h2,
h3,
h4,
h6 {
  font-family: "Helvetica Now Display";
  font-weight: 400;
}

h2 span {
  font-family: "Helvetica Now Display";
  font-weight: 400;
}
span, small {
  font-family: "Helvetica Now Display";
  font-weight: 300;
}

hr {
  border: 1px solid #ffffff1a;
}

p {
  font-family: "Helvetica Now Text";
  font-weight: 400;
}

.custom-height-hero::after {
  content: "";
  background-image: url("../public/Vector.svg");
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-padding {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.custom-height-hero {
  height: calc(100vh - 8.5rem);
  /* height: 100vh; */
}

.cta-section {
  background-image: url("../public/images/cta-bg-image.svg");
  background-position: right;
  background-repeat: no-repeat  ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pricing {
  position:relative;
}

.pricing::after {
  content:"";
  background-image: url("../public/pricing_logo.svg");
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  z-index: 0;
}


.explore-cursor {
  cursor: url("../public/explore-cursor.png"); /* Use your cursor image here */
}