@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
}

:root {
  --background-black: #0f1210;
  --background-black-light: #161a17;
  --background-gray: #181C1A;
  --gray-green: #1F2623;
  --text-black: #021909;
  --button-black: #0e110f;
  --text-dark-green: #707e77;
  --spectra-green-light: #26ca57;
  --spectra-green-extra-light: #31d223;
  --spectra-green-light-opacity: #192b1d;
  
}

body {
  background: var(--background-black);
  color: white;
}

header {
  font-family: "Helvetica Now Text";
}

button {
  font-family: "Helvetica Now Display";
  font-weight: 500;
}

h1 {
  font-family: "Helvetica Now Display";
  font-weight: bold;
}

h5 {
  font-family: "Helvetica Now Text";
  font-weight: 400;
}

h2,
h6 {
  font-family: "Helvetica Now Display";
  font-weight: 400;
}

span {
 font-family: "Helvetica Now Micro";
 font-weight: 300;
}

hr {
  border: 1px solid #ffffff1a;
}

p {
  font-family: "Helvetica Now Text";
  font-weight: 400;
}

.custom-height-hero::after {
  content: url("../public/Vector.svg");
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
}

.section-padding {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.custom-height-hero {
  height: calc(100vh - 8.5rem);
  /* height: 100vh; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
